@model MoviesAPI.Models.User_Model;

 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Movie Hub</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 mx-auto">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <form asp-action="ChangePasswordCurrentUser" asp-controller="Profile" method="post">
                            <div class="row gutters">
                                <div class="col-12">
                                    <h6 class="mb-2 text-primary">Change Password</h6>
                                    <hr class="mt-0 mb-4">
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="OldPassword">Old Password</label>
                                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="NewPassword">New Password</label>
                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="ConfirmNewPassword">Confirm New Password</label>
                                        <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-12 text-right">
                                    <hr class="mt-0 mb-4">
                                    <a class="btn btn-outline-secondary btn-rounded mx-2" asp-area="" asp-controller="Profile" asp-action="Profile">Cancel</a>
                                    <button type="submit" class="btn btn-outline-primary btn-rounded mx-2">Set Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
